.container
	= form_for(:session, url: login_path, :html => {:class => "new_user"}) do |f|
		.form-group
			= f.text_field :name, :placeholder => "Username", :autocomplete => "off"
		.form-group.frm
			= f.password_field :password, :placeholder => "Password"
		.form-group
			= f.submit "Login", :class => "button submit"
