.main_content
	max-width: 1000px
	margin: 0 auto
	text-align: center
	font-family: 'Oswald', sans-serif
	.cat_container
		h1
			font-size: 6em
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		a
			text-decoration: none
			color: black
			width: 250px
			.category
				border: 3px solid black
				margin: 20px
				height: 250px
				border-radius: 10px
				transition: all 2s
				&:hover
					position: relative
					top: -10px
	.posts_container
		font

